.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242424;
  color: #ffffff;
  font-weight: lighter;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.04em;
}

.line {
  margin-left: 16px;
}

.close-button {
  margin-left: 85%;
}

.menu-tittle h1 {
  font-size: 40px;
  line-height: 47px;
  margin: 16px;
}

.menu-items a {
  margin: 16px;
  display: block;
  font-size: 24px;
  color: #ffffff;
}

.close-button a img {
  margin-top: 18px;
}

.social-media {
  margin: 16px;
}

.social-media p {
  margin-bottom: 16px;
  font-size: 24px;
}

.social-media a {
  margin-right: 23px;
}



