.categories-button {
    width: calc(100vw - 30px);
    height: 70px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    border: none;
    font-size: 32px;
    border-bottom: white solid 1px;
    color: white;
    background-color: #242424;
}

.categories-text {
  transform: translateY(15px);
}

.categories-arrow {
  transform: translateY(25px);
}


