.catBtn {
    width: calc(100vw - 30px);
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    border: 0px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 15px;
    font-size: 32px;
    color: white;

    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

