.content-info-container{
  margin-top: 8px;
  padding: 16px;
  padding-bottom: 8px;

}

.top-container{
  border-top: 1px solid #fff;
  display: flex;
}

.call-to-action {
  display: flex;
  width: 60px;
  justify-content: space-between;
  margin: 15px;
}
.share-btn {
  height: 18px;
  width: 18px;
  margin: 6px;
  margin-right: 10px;
}

.bookmark-btn {
  height: 18px;
  width: 14px;
  margin: 6px;
  margin-left: 10px;
}

.content-description-container{
  margin: 24px 0;
}

.content-description-title{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.content-description{
  color: #ACACAC;
  font-size: 14px;
  font-weight: normal;
  max-width: 80%;
}

.bottom-container{
  border-top: 1px solid #fff;
}

.content-cast-container{
  margin: 24px 0;
}

.content-cast-title{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.content-cast{
  color: #ACACAC;
  font-size: 14px;
  font-weight: normal;
}
