.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65px;
  }

.nav-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #242424;
  padding-right: 16px;
  padding-left: 16px;
  }

